@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Witamy w systemie magazynu wojskowego</h1>
    <p class="lead">Zarządzaj sprzętem, personelem i zamówieniami w jednym miejscu.</p>
    <hr class="my-4">
    <p>Wybierz jedną z poniższych opcji:</p>
    <div class="d-flex justify-content-center">
        <a asp-controller="Sprzet" asp-action="Index" class="btn btn-primary btn-lg mx-2">Sprzęty</a>
        <a asp-controller="Personel" asp-action="Index" class="btn btn-success btn-lg mx-2">Personel</a>
        <a asp-controller="Zamowienie" asp-action="Index" class="btn btn-info btn-lg mx-2">Zamówienia</a>
    </div>
</div>
