@model Projekt_bazy.Models.Personel

@{
    ViewData["Title"] = "Dodaj sprzęt";
}

<h2>Dodaj personel</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Imie</label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Nazwisko</label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Wiek</label>
        <input asp-for="Wiek" class="form-control"/>
        <span asp-validation-for="Wiek" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Stopień</label>
        <input asp-for="Stopien" class="form-control" />
        <span asp-validation-for="Stopien" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Przynależnośc do magazynu</label>
        <input asp-for="PrzynaleznoscDoMagazynu" class="form-control" />
        <span asp-validation-for="PrzynaleznoscDoMagazynu" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
</form>
